.about-section {
  padding: 60px 0;
}

.about-section .about-content{
  padding: 25px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

/*.about-section .about-img .shape {
  position: absolute;
  z-index: -1;
}
      .about-section .about-img .shape.shape-1 {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -70px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .about-section .about-img .shape.shape-1 {
            width: 80%; } }
        @media (max-width: 767px) {
          .about-section .about-img .shape.shape-1 {
            width: 70%; } }
      .about-section .about-img .shape.shape-2 {
        bottom: 0;
        right: 50px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .about-section .about-img .shape.shape-2 {
            width: 75%; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .about-section .about-img .shape.shape-2 {
            right: 120px; } }
        @media (max-width: 767px) {
          .about-section .about-img .shape.shape-2 {
            bottom: 30px; } }*/

  .about-section .about-img-2 {
    position: relative;
    z-index: 1;
    padding: 0;
  }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

    @media (max-width: 767px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

    /*.about-section .about-img-2 .shape {
      position: absolute;
      z-index: -1; }
      .about-section .about-img-2 .shape.shape-1 {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -70px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .about-section .about-img-2 .shape.shape-1 {
            width: 80%; } }
        @media (max-width: 767px) {
          .about-section .about-img-2 .shape.shape-1 {
            width: 70%; } }
      .about-section .about-img-2 .shape.shape-2 {
        bottom: 0;
        left: 50px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .about-section .about-img-2 .shape.shape-2 {
            width: 75%; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .about-section .about-img-2 .shape.shape-2 {
            left: 120px; } }
        @media (max-width: 767px) {
          .about-section .about-img-2 .shape.shape-2 {
            bottom: 30px; } }*/

.about-section .about-content ul li {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #162447;
  margin-bottom: 20px;
  position: relative;
}

.about-section .about-content ul li::before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #5864FF;
      position: absolute;
      left: 0;
      top: 6.5px;
      -webkit-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      -moz-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
}
