.about-section {
  padding: 60px 0;
}

.about-section .about-content{
  padding: 25px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

  .about-section .about-img-2 {
    position: relative;
    z-index: 1;
    padding: 0;
  }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

    @media (max-width: 767px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

.about-section .about-content ul li {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #162447;
  margin-bottom: 20px;
  position: relative;
}

.about-section .about-content ul li::before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #149ac0;
      position: absolute;
      left: 0;
      top: 6.5px;
      -webkit-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      -moz-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
}
