.about-section {
  padding: 60px 0;
}

.about-section .about-content{
  padding: 25px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-section .about-img {
  margin-bottom: 20px;
  }
}

  .about-section .about-img-2 {
    position: relative;
    z-index: 1;
    padding: 0;
  }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

    @media (max-width: 767px) {
      .about-section .about-img-2 {
        margin-bottom: 20px;
        }
      }

.about-section .about-content ul li {
  padding-left: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #162447;
  margin-bottom: 20px;
  position: relative;
}

.about-section .about-content ul li::before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #149ac0;
      position: absolute;
      left: 0;
      top: 6.5px;
      -webkit-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      -moz-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
      box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
}

.main-header-area {
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 1;
  background-color: #A020F0;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header-area {
      height: 70px; } }
  @media only screen and (max-width: 767px) {
    .main-header-area {
      height: 70px; } }
  .main-header-area .classy-nav-container {
    background-color: transparent; }
  .main-header-area .classy-navbar {
    height: 90px;
    padding: .5em 60px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .main-header-area .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .main-header-area .classy-navbar {
        height: 70px;
        padding: 0.5em 30px; } }
  .main-header-area .classynav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600; }
  .main-header-area .nav-brand {
    line-height: 1; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .main-header-area .nav-brand {
        margin-right: 0; } }
  .main-header-area .classynav ul {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
