.main-timeline8 {
  overflow: hidden;
  position: relative;
}
.main-timeline8:after,
.main-timeline8:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-timeline8:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #009cea;
  position: absolute;
  top: 30px;
  left: 50%;
}
.main-timeline8 .timeline {
  width: 50%;
  float: left;
  padding-right: 30px;
  position: relative;
}
.main-timeline8 .timeline-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 3px solid #000000;
  position: absolute;
  top: 5.5%;
  right: -17.5px;
}
.main-timeline8 .year {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: #fff;
  border-radius: 0 50px 50px 0;
  background: #009cea;
  text-align: center;
  position: relative;
}
.main-timeline8 .year:before {
  content: "";
  border-top: 35px solid #009cea;
  border-left: 35px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.main-timeline8 .timeline-content {
  padding: 30px 20px;
  margin: 0 45px 0 35px;
  background: #f2f2f2;
}

.main-timeline8 .description {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}
.main-timeline8 .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
  right: auto;
  left: -14.5px;
}
.main-timeline8 .timeline:nth-child(2n) .year {
  border-radius: 50px 0 0 50px;
  background: #009cea;
}
.main-timeline8 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 35px solid transparent;
  left: auto;
  right: 0;
}
.main-timeline8 .timeline:nth-child(2n) .timeline-content {
  text-align: right;
  margin: 0 35px 0 45px;
}
.main-timeline8 .timeline:nth-child(2) {
  margin-top: 170px;
}
.main-timeline8 .timeline:nth-child(odd) {
  margin: -175px 0 0;
}
.main-timeline8 .timeline:nth-child(even) {
  margin-bottom: 80px;
}
.main-timeline8 .timeline:first-child,
.main-timeline8 .timeline:last-child:nth-child(even) {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .main-timeline8 {
    overflow: visible;

  }
  .main-timeline8:before {
    top: 0;
    left: 0;
  }
  .main-timeline8 .timeline:nth-child(2),
  .main-timeline8 .timeline:nth-child(even),
  .main-timeline8 .timeline:nth-child(odd) {
    margin: 0;
  }
  .main-timeline8 .timeline {
    width: 100%;
    float: none;
    padding: 0 0 0 30px;
    margin-bottom: 20px !important;
  }
  .main-timeline8 .timeline:last-child {
    margin: 0 !important;
  }
  .main-timeline8 .timeline-icon {
    right: auto;
    left: -14.5px;
  }
  .main-timeline8 .year {
    border-radius: 50px 0 0 50px;
  }
  .main-timeline8 .year:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0;
  }
  .main-timeline8 .timeline-content {
    margin: 0 35px 0 45px;
  }
  .main-timeline8 .timeline-content .description{
    text-align: left;
  }
}



